@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300');

@keyframes hey {
    from{height:0}
    to{height:20px}
}

body, html{
    margin:0;
    padding:0;

}

#center{
    /* margin: auto; */
    display: flex;
    justify-content: center;
    /* position: absolute; */
    z-index: 9999;
    margin-top: -250px;
}

#modal-root{
    width:500px;
    height:500px;
    margin:auto;
    background-color:red;
    position: absolute;
}

.itl {
    padding-left: 10px;
    font-family: sans-serif;
    border-bottom: 1px dashed #CCCCCC;
    width: 12vw;
    height: 7vh;                                                        
    line-height: 7vh;   
    display: grid;
    grid-template-columns: auto 15px; 
    
}
input{

    font-family: 'Montserrat';
    font-size: 18px;
    color:#333333;
}
.X{
    color: #A9A9A9
}
.X:hover{
    color:#A91111;
    cursor: pointer;
}

header{
    padding-left: 10px;
    padding-bottom: 13px;
    padding-top: 9px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 54px;
    text-align: center;
    margin:0 0 20px 0;
    font-weight: 700;
    /* border-bottom: 4px solid #f1f1f1; */
    box-shadow:0 2px 8px 0 rgba(0, 0, 0, 0.15);
    color:#393939;

}
/* header::after {
    content: "";
    border-bottom: 2px solid #e4e4e4;
    width: 100%;
    position: absolute;
    top: 74px;
    left: 0px;
} */

#signin {
    position: absolute;
    top: 25px;
    font-size: 17px;
    line-height: 27px;
    background-image: linear-gradient(to left, #03A9F4 , #0063ff);
    color: white;
    padding: 0 20px;
    border-radius: 27px;
    right: 1vw;
    font-family: 'Libre Franklin';
    font-weight:600;
    transition:.25s;
}

#signin:hover{
    cursor:pointer;
    box-shadow:4px 5px 11px #bbbbbb, 0 0 63px -10px #666666;
    transform: scale(1.02)
}

.todoitem {
    display: grid;
    grid-template-columns: 10fr 2fr 2fr ;
    width: fill-available;
    word-break: break-word;
    word-wrap: break-word;
    grid-template-rows: minmax(42px,max-content);
    border-bottom: 2px solid var(--hit);
    /* grid-row-gap: 5px; */
    margin: 0 5px 0 5px;
    font-family: 'Montserrat';
    transition:0.5s;
    padding-bottom: 1px;
    padding-top: 15px;
    /* z-index: 60; */
    font-size:20px
}

.todoitem:hover{
    border-bottom-color:#0063ff;
}

.options_controls {

    margin: auto;
    width: -webkit-fill-available;
    letter-spacing: 1px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-variant: all-petite-caps;
    font-size: 20px;
    overflow: hidden;
    background: white;
    max-height: 0;
    z-index: 100;
    transition: max-height .3s linear;
    display: flex;

}

.hidden{
    display:none
}
.slidein{
    animation: hey 2s;
}

.options_controls>div {

    margin-top: 5px;
    display: inline-block;
    padding:9px;
    margin-top: 5px;
    display: inline-flex;
    padding: 9px;
    flex-grow: 1;
    width: fit-content;
    text-align: center;
    justify-content: center;
}


.options_controls>div:hover{
    cursor:pointer;
    background: #e8e8e8aa
}
main {
    width:fit-content;
    margin:auto;
    max-width: 500px;
}

#root{
    margin:auto;
    width:fit-content; 
}

#x{
    text-align:right;
}

#thelist{
    margin: auto;
    margin-top:20px;
    /* width: fit-content; */
    
}

#ibox{
    height: 40px;
    margin-right: 25px;
    border-radius: 5px;
    border: 0px solid #cecece;
    /* border-bottom: 2px solid #b1b1b1; */
    width: 265px;
    /* border-top: 1px solid #cccccc; */
    box-shadow: 0px 2px 4px 1px #cacaca, 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    transition: .25s;
    margin-bottom:5px;
    padding-left: 10px;
    display: inline-flex;
}

#ibox:hover{
    transform: scale(1.04);
    box-shadow:4px 6px 9px #bbbbbb, 0 0 25px -9px #8c8c8c;
}

#iholder{
    margin:auto;
    width:fit-content;
    padding-bottom:5x;
}

#button{
    background-color: white;
    border: none;
    padding: 0;
    width: 42px;
    border-radius: 5px;
    height: 42px;
    box-shadow: 1px 2px 2px #a8a8a8, 0 0 39px -9px #666666, 0 1px 2px 0 rgba(60,64,67,0.302);
    transition: .25s;
    color: #0063ff;
    display: inline-block;
    line-height: 42px;
    font-size: 20px;
}

#button:hover{
    cursor:pointer;
    /* background-color:#31b3ff;  
    color:white;  */
    box-shadow:3px 5px 7px #bbbbbb, 0 0 39px -9px #666666;
    transform: scale(1.02)
}

#xd, #check{
    height:20px;
    width: 20px;
    border: 1px solid #333333;
    line-height: 20px;
    text-align: center;
    display: grid;
    transition:.25s;
}
#xd:hover, #check:hover{
    transform: scale(1.04);
    box-shadow:3px 5px 7px #bbbbbb, 0 0 39px -9px #666666;
}



#x{
    transition:0.2s;
}

#x:hover{
    color:rgb(214, 6, 6);
    transform: scale(1.09);
    cursor: pointer;
}
.im-check-mark{
    font-size:17px;
    color:#0063ff;
    line-height:23px;
    height:20px;
    width:20px;
}

.drop{
    height:var(--hit);
    /* border:1px solid red; */
    background-color:#047ae8;
    width:88%;
    position: relative;
    top:-18px;
    margin:auto;
    transition:.5s;
    
}

:root {
    --hit: #eeeeee; 
    --in:initial;
    --filt: none;
    --lab: inline-block;
}

#content {
    z-index: var(--in);
}

#options, #save{
    font-family: 'Roboto Slab';
    font-variant: small-caps;
    color:#8e8e8e;
    font-size: 12px;
    transition: .2s;
    display:inline-block;
    margin-right: 10px;
}

#options:hover, #save:hover{
    cursor:pointer;
    color:#047ae8;

}

.im-care-down{
    font-size: 7px;
    columns: #838383;

    height:6px;

}
#filter{
    display:var(--lab)
}

.filter{
    width:80px;
    display:none;
}


.save_controls > input {
    width:110px;
    margin-right: 10px;
    border: 1px solid #cecece;
    border-radius: 4px;
    padding-left: 5px;
    height: 25px;
    flex-grow:1;
    margin-top:10px;
}

.save_controls {
    width: -webkit-fill-available;
    letter-spacing: 1px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-variant: all-petite-caps;
    font-size: 20px;
    overflow: hidden;
    background: white;
    z-index: 100;
    display: inline-flex;
    transition: max-height .3s linear;
    margin: auto;
    max-height: 0px;
    
}

#submit{
    padding:10px 0;
    background-color: white;
    border: none;
    padding: 0;
    /* width: 42px; */
    border-radius: 5px;
    /* height: 30px; */
    box-shadow: 1px 2px 2px #a8a8a8, 0 0 39px -9px #666666, 0 1px 2px 0 rgba(60,64,67,0.302);
    transition: .25s;
    color: #0063ff;
    display: inline-flex;
    line-height: 30px;
    font-size: 20px;
}

#buts > div {
    padding: 10px 18px;
    display:inline-flex;
}

#buts > div:hover {
    color:#047ae8;
    cursor: pointer;
    background: #e8e8e8aa;
}

#buts {

}